body {
    background-color: #eefcfa;
    margin: 0;
    font-weight: 670;
    font-family: 'Inter', sans-serif;
}
.logo {
    width: 60px;
    height: auto;
    margin: 0px 10px 0px 60px;
}
.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    list-style: none;
}

.btn:hover {
    background-color: #01644b;
}

.btn {
    padding: 20px 40px;
    color: white;
    background-color: #008060;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
    margin:0px 90px 0px  0px;
    font-size: 18px;
}

.navright {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.navleft {
    font-size: 18px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 350px;
}

.Shopify {
    display: flex;
    font-size: 35px;
    font-weight: 900px;
    margin: 0px 45px 0px 0px ;
    font-style: italic;
}

hr {
    margin: 10px;
    border-color: none;
}

.navright {
    display: flex;
    justify-content: space-between;
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.navv {
    display: flex;
    list-style: none;
    column-gap: 50px;
}

.navright a {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 1px solid rgb(152, 152, 152);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navdown a{
    text-decoration: none;
    color: black;
}
.navdown{
    display: flex;
    list-style: none;
    column-gap: 70px;
    align-items: center;
    text-decoration: none;
    margin-left: 55px;
}
.line {
    border-bottom: 1px solid #5b5b5b;
}
 h3 {
    color: black;
    margin:100px 0px 15px 55px;
 }
 p:first-of-type {
    font-size: 70px;
    margin: 0px 0px 0px 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 24px;
    color: #004c3f ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
 }

 .btn2{
    padding: 20px 40px;
    color: white;
    background-color: #008060;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
    margin:20px 0px 0px 110px;
    font-size: 18px;
 }
.question {
    color: #008060;
    margin:20px 0px 0px 110px;
    display: block;
    font-weight: 700;
}
  .question{
   list-style: none;
}
.btn2:hover {
    background-color: #01644b;
}
.facebook{
    margin-top: 503px;
    position: absolute;
    right: 0px; 
    top:-359;
}
.facebook img{
    width: 700px;
}
.text :nth-child(3){
    color: grey;
    margin-left: 55px;
}
#vip{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    color : black;
    font-size: 48px;
}
.text{
    margin-left: 55px;
}